body {
    /* display: block; */
    background-image: url("../images/mountains.jpeg"); 
    background-size: cover;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    overflow: hidden;
    margin:30px;
}
#container {
    position: relative;
    max-width: 50%;
    margin: auto;
    text-align: center;
}
nav {
    font-weight: bold;
    font-size: small;
    display: block;
    position: absolute;
    left: 0px;
    width: 40%;
    margin-top: 20px;
}
.one {
    margin: 10px;
    border: 2px none;
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    opacity: 0.8;
    box-shadow: 3px 3px 3px lightgrey;

}
.one:link {
    text-decoration: none;
}
.one:hover {
    background-color: lightskyblue;
    text-decoration: none;
    transition-duration: 3s;
}
.one:visited {
    text-decoration: none;
}
.two {
    margin: 10px;
    border: 2px none;
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    opacity: 0.8;
    box-shadow: 3px 3px 3px lightgrey;
}
.two:link {
    text-decoration: none;
}
.two:hover {
    background-color:lightcoral;
    text-decoration: none;
    transition-duration: 3s;
}
.two:visited {
    text-decoration: none;
}
.three {
    margin: 10px;
    border: 2px none;
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    opacity: 0.8;
    box-shadow: 3px 3px 3px lightgrey;
}
.three:link {
    text-decoration: none;
}
.three:hover {
    background-color:lightgreen;
    transition-duration: 3s;
    text-decoration: none;
}
.three:visited {
    text-decoration: none;
}
section {
    position: relative;
    margin: auto;
    width: 55%;
    background-color:#f0f1f5e9;
    opacity: 0.8;
    padding: 30px;
    border: 2px none;
    border-radius: 10px;
    box-shadow: 3px 5px 2px #142b62;
    transition: width 3s;
}
#section 
    {transition-timing-function: ease}
section:hover {
    width: 55%;
    opacity: 1;
}
p {
    text-align: justify;
}
.image1 {
    float: none;
    border-radius: 50%;
}
.title2{
    text-align: center !important;
    font-weight: 600;
    /* color: #165c99; */
    color: #fe5f55;
}
.flip-card {
    width: 100%;
    height: 560px;
    perspective: 1000px;
  }
.flip-card-inner {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}  
.flip-card-front {
    background-color: #bbb;
    color: #000000;
}
.flip-card-back {
    /* background-color: #2980b9; */
    /* color: white; */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}
.contact{
    font-weight: 600;
    color: #fe5f55;
}
.icons{
    font-size: 2em;
    padding: 30px;
    color:#fe5f55;
}
.icons:hover{
    color:#142b62;
}

/* media screen */

